@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.about-container, .faceandabout-container {
  max-width: 890px;
  margin: auto;
  text-align: center;
}

.navigation {
  padding: 16px;
  word-spacing: 10px;
}

.navigation__links {
  letter-spacing: 2px;
  font-size: 15px;
  font-weight: 700;
  color: #3c3c3c;
}

.navigation__links:hover {
  color: #ada074;
}

.black-line {
  width: 81px;
  height: 1px;
  background-color: #000;
  margin: auto;
}

.about-block__sub-title {
  font-size: 14px;
  line-height: 25px;
  font-weight: 300;
  color: #868585;
  max-width: 590px;
  margin: 15px auto 50px;
}

.title {
  font-size: 34px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.16em;
  color: #000;
  margin: 80px 40px 40px;
}

body {
  font-family: "Lato", sans-serif;
}

.face_sub-title {
  font-size: 26px;
  font-weight: 400;
  text-transform: none;
}
.face__bgi {
  background-image: url(../../image/face/bg_header_743.jpg);
  background-size: cover;
}
.face__title {
  font-size: 34px;
  line-height: 40px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.16em;
  color: #fff;
}
.face__line {
  width: 105px;
  height: 2px;
  background-color: #fff;
  margin: 45px auto 150px;
}
.face__button {
  width: 182px;
  height: 47px;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.06em;
  color: #fff;
  border: 1px solid #fff;
  padding: 13px;
  background: transparent;
}
.face__button:hover {
  opacity: 0.7;
}
.face__button:active {
  border: 1px solid #000;
  color: #000;
}

img[alt="Face logo"] {
  margin: 165px 0 160px 0;
}

img[alt=arrow_down] {
  display: block;
  margin: 75px auto 0;
  width: 17px;
  height: 15px;
}