@import "zero";
@import "additionally";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
//! Основные настроки
body {
    font-family: "Lato", sans-serif;
}

//! Face
.face {
    &_sub-title {
        font-size: 26px;
        font-weight: 400;
        text-transform: none;
    }

    &__bgi {
        background-image: url(../../image/face/bg_header_743.jpg);
        background-size: cover;
    }

    &__title {
        font-size: 34px;
        line-height: 40px;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 0.16em;
        color: $_fff;
    }

    &__line {
        width: 105px;
        height: 2px;
        background-color: $_fff;
        margin: 45px auto 150px;
    }
    &__button {
        @extend %button;
        border: 1px solid #fff;
        color: #fff;
    }
}
.faceandabout-container {
    @extend %container;
}
img[alt="Face logo"] {
    margin: 165px 0 160px 0;
}
img[alt="arrow_down"] {
    display: block;
    margin: 75px auto 0;
    width: 17px;
    height: 15px;
}
// ! About
.about-container {
    @extend %container;
}
.navigation {
    @extend %navigation;
    &__links {
        @extend %navigation__links;
    }
}
.about-block {
    &__sub-title {
        @extend %sub-text;
    }
}
.title {
    @extend %title;
}
.black-line {
    @extend %black_line;
}
.about-columns {
    text-align: center;
    display: inline-flex;
    justify-content: space-between;
    flex: 0 1 33.333%;
}
.about {
    &__icon {
        margin: 15px 0;
        padding: 10px;
        border-radius: 10%;
        border: 1px solid #f1f1f1;
    }
    &__title {
        text-transform: uppercase;
        font-size: 22px;
        letter-spacing: 0.16em;
    }
    &__text {
        @extend %sub-text;
        margin: 5px 0;
    }
}
// ! Portfolio
.portfolio {
    height: 1500px;
    // ? Это не баг. Я просто оставил место на будущее для grid)
    background-color: #f3f3f3;
}
.portfolio-container {
    @extend %container;
}
.title-and-menu {
    &__title {
        padding: 100px 0 0 0;
        @extend %title;
    }

    &__line {
        @extend %black_line;
    }

    &__menu {
        margin: 50px 0 0 0;
        word-spacing: 40px;
        @extend %navigation;
    }

    &__links {
        @extend %navigation__links;
    }
}
.portfolio__button {
    @extend %button;
    border: 1px solid #000;
    color: #000;
    margin: 40px 0;
}
